#mcswap-account-change{
  display: none;
}
#mcswap_cover{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #222d07;
  background: #000;
  opacity: 0.8;
  top: 0;
  left: 0;
}
#mcswap_message{
  display: block;
  position: absolute;
  float: left;
  top: 40%;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 20px;
  color: #f7f7f7;
  text-shadow: 2px 2px #111;
  width: 100%;
  height: 100px;
  z-index: 11;
  text-align: center;
  animation: mcswap_blinker 1.5s linear infinite;
}
@keyframes mcswap_blinker {
  50% {
      opacity: 0.25;
 }
}
#mcswap_chooser {
  border-radius: 36px;
  width: 290px;
  position: fixed;
  display: none;
  top: calc(50% - 135px);
  left: calc(50% - 150px);
  z-index: 1001;
  background: #0a0a0a;
  padding: 17px 5px 0 5px;
  height: auto;
}
#mcswap_chooser button {
  background: #090909;
  display: block;
  margin: 0 10px 17px 10px;
  border-radius: 22px;
  border: none;
  outline: none;
  padding: 10px;
  width: calc(100% - 20px);
  text-align: left;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 3px 0px #fff;
  -moz-box-shadow: 0px 0px 3px 0px #fff;
  box-shadow: 0px 0px 3px 0px #fff;
  transition: 0.3s;
}
#mcswap_chooser button:disabled {
  opacity: 0.25;
}
#mcswap_chooser button#mcswap_cancel{
  margin-bottom: 18px;
}
#mcswap_chooser button:hover{
  -webkit-box-shadow: 0px 0px 10px 3px #fff;
  -moz-box-shadow: 0px 0px 10px 3px #fff;
  box-shadow: 0px 0px 10px 3px #fff;
}
#mcswap_chooser button.mcswap_choice img{
  display: block;
  position: absolute;
  width: 37px;
  height: 37px;
  margin: -6px 0 0 -4px;
}
#mcswap_chooser button#mcswap_cancel img{
  -webkit-filter: invert(0);
  filter: invert(0);
  width: 28px;
  height: 28px;
  margin: -2px 0 0 -1px;
}
#mcswap_chooser button.mcswap_choice span{
  display: inline-block;
  vertical-align: top;
  margin: 2px 0 0 98px;
  font-size: 15px;
  font-family: "Ubuntu";
  font-weight: bold;
  font-style: normal;
  line-height: 23px;
  height: 23px;
  text-shadow: 0 0 5px #fff;
}
#mcswap_chooser button#mcswap_backpack span {color: #fff;transition: 0.3s;}
#mcswap_chooser button#mcswap_backpack:hover span{color: #fff;text-shadow: 0 0 20px #fff;}
#mcswap_chooser button#mcswap_solflare span {color: #fff;transition: 0.3s;}
#mcswap_chooser button#mcswap_solflare:hover span{color: #fff;text-shadow: 0 0 20px #fff;}
#mcswap_chooser button#mcswap_phantom span {color: #fff;transition: 0.3s;}
#mcswap_chooser button#mcswap_phantom:hover span{color: #fff;text-shadow: 0 0 20px #fff;}
#mcswap_chooser button#mcswap_cancel span {color: #fff;transition: 0.3s;margin-top:0px;margin-bottom:1px;}
#mcswap_chooser button#mcswap_cancel:hover span{color: #fff;text-shadow: 0 0 20px #fff;}
#mcswap_chooser button:disabled:hover {
  -webkit-box-shadow: 0px 0px 3px 0px #154ab3;
  -moz-box-shadow: 0px 0px 3px 0px #154ab3;
  box-shadow: 0px 0px 3px 0px #154ab3;
  text-shadow: none;
}
#mcswap_chooser button:disabled:hover span{
  text-shadow: 0 0 5px #fff;
}
.mcswap_connect_button, .mcswap_disconnect_button{
  cursor: pointer;
  color: #fff;
  background: #154ab3;
  border: 0;
  border-radius: 20px;
  outline: none;
  height: 40px;
  width: 115px;
  margin: 1px -1px 0 0;
  padding: 0;
  font-weight: bold;
  display: block;
  transition: 0.3s;
  float: right;
}
.mcswap_connect_button:hover, .mcswap_disconnect_button:hover{
  background: #fff;
  color: #000;
  text-shadow: 0 0 20px #154ab3;
  box-shadow: 0 0 10px 3px #154ab3;
}
.mcswap_connect_button:disabled, .mcswap_disconnect_button:disabled{
  opacity: 0.25;
  cursor: default;
}
.mcswap_disconnect_button{
  display: none;
}
@media only screen and (max-width: 310px) {
  #mcswap_chooser{
    width: calc(100% - 20px);
    left: 5px;
  }
}